*{
    margin: 0px;
    padding: 0px;
}
:root{
    --color0: #FFF0C9;
    --color1: #252323;
    --color3: #E389B9;
    --color4: #9E1ED9;
    --color5: #ce21ed;
}
html{
    scroll-behavior: smooth;
}
.navbar-expand-lg{
    background-image: url(../img/fondo_nubes.jpg);
    background-position: center;
    background-size: cover;
}
.navbar-brand{
    color: var(--color0);
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.navbar-brand:hover{
    color: var(--color0);
}
.navbar-nav a{
    color: var(--color0) !important;
    font-size: 20px;
    font-family: 'Chewy', cursive;
}
.navbar-nav a:hover{
    color: var(--color4) !important;
    text-shadow: 0 0 5px #000;
}
.jumbotron{
    min-height: 400px;
    background-image: url(../img/waves.svg), url(../img/fondo_gomas1.jpg);
    background-size: cover;
    background-position: top;
    padding: 10px;
    border-radius: 0;
    margin: 0;
}
.jumbotron .slogan{
    background-color: rgba(158, 30, 217, 0.5);
    border-radius: 15px;
    padding: 5px;
}
.jumbotron h1{
    color: var(--color0);
    text-align: center;
}
.jumbotron p{
    color: var(--color0);
    font-size: 15px;
    text-align: justify;
}
.carrito a{
    color: var(--color0);
    font-size: 50px;   
}
.carrito a:hover{
    color: var(--color1);
    font-size: 35px;
    transition: all 0.5s;
}
.img-productos{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding: 5px;
    margin: 2px;
    background-image: url(../img/corazon.jpg);
    background-position: center;
    background-size: cover;
    padding: 5px;
    color: var(--color0);
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 5px #000;
}
.img-productos:hover{
    transform: scale(1.02);
    transition: all 0.5s;
    animation-name: imagenes;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}
@keyframes imagenes {
    0% {
        background-image: url(../img/corazon.jpg);
    }
    33%{
        background-image: url(../img/dulces.jpg);
    }
    66%{
        background-image: url(../img/estrella.jpg);
    }
}
.page-footer{
    background-image: url(../img/fondo_nubes.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color0);
}
.enlaces ul li{
    display: inline-block;
    font-size: 45px;
    margin: 10px;
}
.enlaces ul li a{
    color: var(--color0);
}
.enlaces ul li a:hover{
    color: var(--color3);
    text-shadow: 0 0 5px #000;
}
.footer-copyright a{
    color: var(--color0);
}
